* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #a7a8aa;
    font-size: 1rem;

    img {
        width: 100%;
    }
}

/* #region FONT */

.bold {
    font-weight: 700;
}

.black {
    font-weight: 900;
}

h4 {
    font-size: 1.2rem;
    color: white
}

h3 {
    font-size: 1.7rem;
    color: white;
}

.text_navbar {
    font-size: 1rem;
    font-weight: 535;
    color: #7D7F84;
}

.upgrade {
    font-size: 1rem;
    font-weight: 535;
    color: white
}

/* #endregion FONT */


/* region LAYOUT */
.wrapper {
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
    overflow: hidden;
}

.top {
    width: 100%;
    height: calc(100% - 70px);
    background-color: #141922;
    display: flex;
}

.bottom {
    width: 100%;
    height: 70px;
    background-color: #282828;
    display: flex;
}

/* TOP SECTION */

.sidebar {
    width: 230px;
    height: 100%;
    background-color: #000000;
}

.display {
    width: calc(100% - 230px);
    height: 100%;
    background-color: #141922;
    overflow-y: auto;
    position: relative;
}

/* SIDEBAR SECTION */

.logo {
    width: 100%;
    height: 90px;
    /* background-color: #78a1ed; */
    padding: 1rem;
}

.home {
    width: 100%;
    height: 120px;
    /* background-color: #aee4b1; */
    padding: 1rem;

    li {
        display: inline-flex;
        line-height: 1.7rem;
    }

    img {
        width: 10%;
        margin-right: 0.5rem;
    }
}

.playlist {
    width: 100%;
    height: calc(100% - 310px);
    /* background-color: #e5d47d; */
    padding: 1rem;

    .bold {
        color: white;
        margin-bottom: 1.5rem;
    }

    i {
        font-size: 2.5em;
        margin-right: 0.6rem;
    }

    .text {
        font-size: 1.10rem;
        display: inline-block;
    }

    ul {
        padding: 1.5rem 0;
    }

    li {
        list-style: none;
        line-height: 2rem;
    }
}

.account {
    width: 100%;
    height: 100px;
    /* background-color: #f2a3a3; */
    padding: 0.5rem 1rem;

    i {
        margin-right: 0.3rem;
    }

    .text {
        font-size: 1.10rem;
        display: inline-block;
    }

    hr {
        margin: 1rem 0;
        border: 0.5px solid;
    }

    img {
        width: 25px;
        height: 25px;
        background-color: #a7a8aa;
        border-radius: 50%;
        margin-right: 0.5rem;
    }

    .bold {
        display: inline-flex;
        color: white;
        vertical-align: super;
        font-size: 1.10rem;
    }
}

/* DISPLAY SECTION */

.display_top {
    width: 100%;
    height: 90px;
    background-color: #080B12;
    opacity: 0.8;
    position: sticky;
    top: 0;
    right: 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

.button {
    padding: 0.8rem 1.5rem;
    border: 0.2rem solid white;
    border-radius: 1.5rem;
    margin-right: 0.4rem;
}

.navbar {
    width: 100%;
    min-height: 50px;
    /* background-color: #ce5574; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.recently_played {
    width: 100%;
    height: auto;
    /* background-color: #f2a3a3; */
    padding: 1.5rem;
}

/* #region COVER SECTION DENTRO RECENTLY PLAYED */
.covers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    /* flex-wrap: wrap; */
    gap: 1rem;
    padding-top: 2rem;
    text-align: center;
}

.col {
    width: calc(100% / 6);

    img {
        margin-bottom: 1rem;
    }

    h4 {
        margin-bottom: 0.6rem;
    }
}

/* #endregion COVER SECTION DENTRO RECENTLY PLAYED */

.created_for {
    width: 100%;
    height: 350px;
    background-color: #97ec7b;
}

.popular {
    width: 100%;
    height: 350px;
    background-color: #c5e7f0;
}

/* BOTTOM SECTION */

.left {
    width: 230px;
    height: 100%;
    background-color: #e5f38f;
}

.middle {
    width: calc(100% - 460px);
    height: 100%;
    background-color: #f6cc89;
}

.right {
    width: 230px;
    height: 100%;
    background-color: #e5f38f;
}

/* endregion LAYOUT */

/* #region MEDIA QUERIES */
@media screen and (max-width: 878px) {
    .col {
        width: calc(100% / 4);
    }
}

@media screen and (max-width: 552px) {
    .sidebar {
        width: 50px;
    }

    .display {
        width: calc(100% - 50px);
    }
}

/* #endregion MEDIA QUERIES */