* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

img {
    width: 100%;
}

/* region LAYOUT GENERALE */
.wrapper {
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
    overflow: hidden;
}

.top {
    width: 100%;
    height: calc(100% - 70px);
    background-color: lightblue;
    display: flex;
    position: relative;

    .sidebar {
        width: 230px;
        height: 100%;
        background-color: #000000;

        .logo {
            width: 100%;
            height: 90px;
            background-color: #78a1ed;
        }

        .home {
            width: 100%;
            height: 100px;
            background-color: #aee4b1;
        }

        .playlist {
            width: 100%;
            height: calc(100% - 290px);
            background-color: #e5d47d;
        }

        .account {
            width: 100%;
            height: 100px;
            background-color: #f2a3a3;
        }
    }

    .display_top {
        width: calc(100% - 230px);
        height: 90px;
        opacity: 0.8;
        background-color: #92aae2;
        position: fixed;
        z-index: 2;
        top: 0;
        right: 0px;
        display: flex;
        justify-content: end;

        .upgrade {
            width: 230px;
            height: 100%;
            background-color: #f38fd2;
        }
    }

    .display {
        width: calc(100% - 230px);
        height: calc(100% - 90px);
        background-color: #141922;
        overflow-y: auto;
        position: relative;
        top: 90px;
        right: 0px;


        .navbar {
            width: 100%;
            min-height: 50px;
            /* background-color: #ce5574; */
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            color: #7D7F84;

        }

        .recently_played {
            width: 100%;
            height: 350px;
            background-color: #f2a3a3;
            padding: 1.5rem;

            .covers {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;
                margin-top: 1rem;
                text-align: center;
            }
        }

        .created_for {
            width: 100%;
            height: 350px;
            background-color: #97ec7b;
        }
    }

    .popular {
        width: 100%;
        height: 350px;
        background-color: #c5e7f0;
    }
}

.bottom {
    width: 100%;
    height: 70px;
    background-color: #282828;
    display: flex;

    .left {
        width: 230px;
        height: 100%;
        background-color: #e5f38f;
    }

    .middle {
        width: calc(100% - 460px);
        height: 100%;
        background-color: #f6cc89;
    }

    .right {
        width: 230px;
        height: 100%;
        background-color: #e5f38f;
    }
}



/* endregion LAYOUT GENERALE */